<!-- @format -->

{% load static %} {% load static %} {% include 'navbar.html' %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="stylesheet" href="{% static 'css/questions.css' %}" />
    <script src="{% static 'js/script.js' %}"></script>
  </head>
  <body>
    <section class="dashboard">
      <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>
        <div class="search-box">
          <i class="uil uil-search"></i>
          <input type="text" placeholder="Search here..." />
        </div>
        <img />
      </div>
      <div class="dash-content">
        <div class="overview">
            <div class="title">
              <span class="text"><h1>Videos Available</h1></span>
            </div>
           
           <div class="activity-data">
                    <div class="data names">
                        <span class="data-title">
                            <h4></h4>
                        </span>
                      {% for resource  in resource %}   
                     <div class="menu-items">
                        <ul class="nav-links">
                            <li>
                                <a href="{% url 'download' resource.id %}">
                                    <i class="uil uil-files-landscapes"></i>
                                    <span class="link-name">{{resource.name}}</span>
                                </a>
                            </li>
                    </div>
                    {%empty%}
                    <span class="text">!! No Resources Available</span> 
                  </div>
                  {% endfor %}
                {% if resource.has_next %}
                            <a href="?page={{ resource.next_page_number }}"style="text-decoration:None;background-color:#707070;
                                    color: white;
                                    padding: 12px 20px;
                                    border: none;
                                    padding: 12px;
                                    width:70px;
                                    height:50px;
                                    font-size: 18px;
                                    border-radius: 4px;
                                    cursor: pointer;">Next</a>
                        {% endif %}
                {% if has_previous %}
                            <a href="?page={{ previous_page_number }}"style="text-decoration:None;background-color:#707070;
                                    color: white;
                                    padding: 12px 20px;
                                    border: none;
                                    padding: 12px;
                                    width:100px;
                                    height:50px;
                                    font-size: 18px;
                                    border-radius: 4px;
                                    cursor: pointer;">Previous</a>
                            {% endif %}
                   
          </div>
      </div>
    </section>
  </body>
</html>
