<section class="dashboard">
      <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="search-box">
          <i class="uil uil-search"></i>
          <input type="text" placeholder="Search here..." />
        </div>
        <img src="images/profile.jpg" alt="" />
      </div>

    <div class="dash-content">
         {% comment %} <div class="overview">
         <div class="title">
            <i class="uil uil-tachometer-fast-alt"></i>
            <span class="text">Exams List</span>
          </div> 
          <div class="boxes">
            <div class="box box1">
              <i class="uil uil-thumbs-up"></i>
              <span class="text">Exams</span>
              <span class="number">{{exams.len}}</span>
            </div>
            <div class="box box2">
              <i class="uil uil-comments"></i>
              <span class="text">Progress</span>
              <span class="number">20,120</span>
            </div> 
          </div> {% endcomment %}
        </div>
    </section>